.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nasaSearch {
    font-size: 2em;
    max-width: 50%;
    margin: 0 auto;
}

#btn {
    width: 50%;
    margin: 0 auto;
}

img {
    max-height: 10%;
}

.wrapper {
    max-width: 65%; 
    align-items: center; 
}

.wrapper > * {
    margin: 0 auto;
}


.container img { 
    object-fit: contain;
    max-height: 10%;
}

.container { 
    font-size: 20px;  
    max-width: 800px;
}

.explanation { 
    font-size: 20px; 
    line-height: 1.6 ;
    letter-spacing: 1px;
}

